body {
    background-color: black;
    font-family: "Courier New", Times, serif;
}

.title {
    padding: 12vw;
    text-align: center;
    color: white;
    font-size: 6vw;
}

@media only screen and (max-width: 1170px){
    .title {
        padding: 6vw;
        text-align: center;
        color: white;
        font-size: 12vw;
    }
}
